version: '2.0'

# works only with Docker Linux containers
services:
    ms-sql:
        image: mcr.microsoft.com/mssql/server:2019-latest
        user: root
        ports:
            - 11433:1433
        environment:
            - ACCEPT_EULA=Y
            - SA_PASSWORD=Str0ngPass
        volumes:
            - .\volumes\mssql\data:/var/opt/mssql/data
            - .\volumes\mssql\log:/var/opt/mssql/log
        env_file:
            - ./local.env
        networks:
            api-net:
                ipv4_address: 192.8.0.1
            
    sugges:
        image: suggestion/api:latest
        mem_limit: 512m
        container_name: suggestionapplication
        ports:
            - 7020:7020
        environment:
            - ASPNETCORE_ENVIRONMENT=development
            - ASPNETCORE_URLS=http://*:7020
        env_file:
            - ./local.env
        depends_on:
            ms-sql:
                condition: service_started
        networks:
            api-net:
                ipv4_address: 192.8.0.2
                
networks:
    api-net:
        driver: bridge
        ipam:
            config:
                - subnet: 192.8.0.0/16
                  gateway: 192.8.0.100